# Xcode
xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcodeproj/xcshareddata/xcschemes/xcschememanagement.plist

# Swift Package Manager
.build/
Package.resolved

# macOS
.DS_Store

# Environment
.env
